@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Oxanium:wght@200..800&family=Playwrite+DE+Grund:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Oxanium:wght@200..800&family=Playwrite+DE+Grund:wght@100..400&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
*{
    margin: 0%;
    padding:0%;
    color: white;
}

body{
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3)),
    url(./imgHp/Ressources/background.webp);
    
}
span{
    font-weight: bold;
}
#titre{
    background-color: #242633;
    
   
     display: flex;
     justify-content: center;
    img {
        width: 215.31px;
        height: 80px;
       padding-top: 10px;

        
     }

   
}

nav{
    background-color: #10141B;


    ul{
    color: white;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
    font-family: "Bigelow Rules", serif;
    font-size: 40px;
   
    }
    
}

main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  height: 1032px;
  
}

#gauche{
    background-image: url(./imgHp/Ressources/background.webp);
    width: 563px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family:"Sofia Sans", sans-serif;
    font-size: 20px;
    
    padding: 20px;
    text-align: center;
   
    
   img{
    width: 375px;
    margin-top: 10%;
   margin-left: auto;
   margin-right: auto;
   }
   #rejoindreBoutton
   {
     width: 350px;
     height: 74px;
     background-color: #433C87;
     border-radius: 30px;
     font-size: 24px;
     margin-left:auto ;
     margin-right: auto;
     font-weight: 800;
     padding-top: 30px;

   }
  

   
} 

#droite{
 
 padding-left: auto;
 padding-right: auto;
 display: flex;

 height: 70%;
 width: 728px;
    div{
        justify-content: center;

    }
    #losange{
        position: absolute;
        
    }


    #choipeau{
        margin: auto;
        
    }

    #choipeau img{
       width: 280px;
       height: 280px;
       
    }
}




footer
{
   background-color: black;
   text-align: center;
   font-size: 24px;
   margin-bottom: 0px;

  #bordure{ 
    margin: 20px;
    border: 2px solid white;
   
   }


   #reseau{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   font-size: 24px;
   
   }
}